

<!-- <div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="center">Pardon Our Dust!</h1>

		<p class= "margin-bottom">We're working on Send to Phone, and it should be ready in the next month or so.<br><br>
		Get on our list for the beta!</p>

		<%= form_for(@lead) do |f|%>
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :phone, "Phone (Optional)" %>
			<%= f.text_field :phone %>

			<%= f.label :company, "Company (Optional)" %>
			<%= f.text_field :company %>

			<%= f.label :comment, "Comments" %>
			<%= f.text_area :comment %>

			<%= f.submit "Get Notified", class: "btn btn-primary btn-large bold-larger" %>
		<% end %>
	</div>
</div> -->


<div id="wufoo-q1m10uh40j7mamx">
Fill out my <a href="https://russelltest.wufoo.com/forms/q1m10uh40j7mamx">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="http://www.wufoo.com">Wufoo</a>.</div>
<script type="text/javascript">var q1m10uh40j7mamx;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'russelltest',
'formHash':'q1m10uh40j7mamx',
'autoResize':true,
'height':'480',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { q1m10uh40j7mamx = new WufooForm();q1m10uh40j7mamx.initialize(options);q1m10uh40j7mamx.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
