
  <h1 class="center">Don't get lost in a crowded inbox!<h1>
  <h2 class="center">Get well-qualified phone leads from your website with<br><img style="display:block; text-align: center;
    margin: 20px auto; text-align:center;" src="<%= asset_path('SendtoPhoneLogo.png') %>" width="auto"></h2>
  <h1 class="center">Try it now:</h1>

    <div class="row">
      <div class="col-md-4 box-border" id="sendtophone">
          <div class="row"><div class="col-md-12"><img src="<%= asset_path('house.jpg') %>" width="250px"></div></div>

          <div class="row"><div class="col-md-12">
          <h4>Novato: 650 Canyon Road</h4></div></div>
          <div class="row">
            <div class="col-md-6 bold">Price:</div>
            <div class="col-md-6">$835,000</div>
          </div>
          <div class="row">
            <div class="col-md-6 bold">Bedrooms:</div>
            <div class="col-md-6">4</div>
          </div>
          <div class="row">
            <div class="col-md-6 bold">Bathrooms:</div>
            <div class="col-md-6">3</div>
          </div>
          <div class="row">
            <div class="col-md-6 bold">Size:</div>
            <div class="col-md-6">2,397 sq. ft.</div>
          </div>
          <div class="row">
            <div class="col-md-12"><span style="font-size:16px;">Nine foot ceilings throughout.<br>Gourmet chef's kitchen with center island & breakfast area<br> Great Room with stone fireplace adjoins kitchen & eating area</span>
            </div>
          </div>
      </div>
      <div class="col-md-7">
        <img src="<%= asset_path('arrow.png') %>" class="pull-left" style="padding-top: 300px;">
        <button type="button" class="btn btn-success btn-lg pull-left" id="modal_open" style="margin-top: 200px; font-size: 30px;" role="button"><!-- <i class="glyphicon glyphicon-phone"></i> --> Send to Phone</button>
      </div>
    </div>


    <div id="modal_wrapper">
      <div id="modal_window">

        <div style="text-align: right;"><a id="modal_close" href="#">close <b>X</b></a></div>

        <p>Complete the form below to send an MMS with this product information to your phone:</p>

        <%= form_for @message, html: { id: "modal_feedback", class: "directUpload"} do |f| %>
          <%= f.label :phone %>
          <%= f.text_field :phone, autofocus: true, required: true %>
          <br><br>
          <%= f.submit "Send to Phone", class: "btn btn-primary", name: "feedbackForm" %>
          <%= f.hidden_field :file %>  <!-- Adding file to form as dataURL -->

        <% end %>

      </div> <!-- #modal_window -->
    </div> <!-- #modal_wrapper -->

    <div id="modal_wrapper_success">
      <div id="modal_window_success">

        <div style="text-align: right;"><a id="modal_close_success" href="#">close <b>X</b></a></div>

        <p class="success">Success! The information is being sent to you as a text message</p>

      </div> <!-- #modal_window_success -->
    </div> <!-- #modal_wrapper_success -->





<h2>SendToPhone lets customers text themselves house information from your website.</h2>
  <ul>
    <li><h3>Customers who use SendToPhone are close to making a purchase decision.</h3></li>
    <li><h3>SendToPhone sends <i>you</i> their <u>phone number</u> and <u>house they're interested in.</h3></u></li>

  </ul>


<h2>What about billing?</h2>

  <ul>
    <li><h3>Get up to 500 phone leads at only $0.60 per lead</h3></li>
  </ul>

  <hr class="featurette-divider">
  <div class="well">
        <h2 class="text-center" style="padding-bottom:20px;">Ready to get phone leads of customers who are ready to visit a house?</h2>
        <div class="row">
        <div class="col-md-4 col-md-offset-2 ">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic</h3>
                </div>
                <div class="panel-body">
                  <span class="price">$0.60 per lead</span>

                </div>
                <ul class="list-group">
                    <li class="list-group-item">Up to <strong>500</strong> Texts per month<br><br></li>
                    <li class="list-group-item">
                    <%= link_to "Sign up!", pricing_path, class: "btn btn-primary" %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Enterprise</h3>
                </div>
                <div class="panel-body">
                   Custom
                </div>
                <ul class="list-group">

                    <li class="list-group-item">As many as you need.<br> Per text pricing.</li>
                    <li class="list-group-item">
                    <%= link_to "Let's Chat", pricing_path, class: "btn btn-primary" %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->
  </div>






<%= javascript_include_tag('feedback-modal-window', 'html2canvas','sendtophone', 'moment') %>





