<h2 id="notice"><%= notice %></h2>

<p>Here is the information you provided:</p>
<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lead.phone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @lead.company %>
</p>
<br><br><br><br>
<%= link_to 'Home', home_path, class: "navlink" %>

