/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


.navlink {
  font-weight: bold;
  color: blue;
}


body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.main {
   padding-right: 150px;
   padding-left: 100px;
 }

.background-color {
  background-color: #3F7CAC;
}

.emphasis-color {
  color:#3F66FF;
}

.font-bigger {
  font-size: 26px;
}

h1 {
  font-weight: bold;
  font-size: 34px;
}


h1,h2,h3,h4 {
  color:#3F66AC;
}

p {
  font-size: 18px;
  line-height: 120%;
}


.bold {
  font-weight: bold;
}

.bold-larger {
  font-weight: bold;
  font-size: 18px;
}

.italic {
  font-style: italic;
}

.margin-bottom {
  margin-bottom: 30px;
}

.main-color {
  background-color: #FFFFFF;
}

.highlight-box {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px 20px;
  background-color: #E7FFFF;
  border-radius: 20px;
}




.box-border {
  padding: 10px 10px 10px 30px;
  border-color: lightgray;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: white;
  width: 300;
}

.row {
  line-height: 120%;
}


/* CUSTOMIZE THE SendToPhone MODAL
-------------------------------------------------- */

#modal_wrapper.overlay:before, #modal_wrapper_success.overlay:before  {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
  }

  #modal_window, #modal_window_success {
    display: none;
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 360px;
    padding: 10px 20px;
    background: #fff;
    border: 5px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  #modal_wrapper.overlay #modal_window, #modal_wrapper_success.overlay #modal_window_success {
    display: block;
  }


.thumbnail {
	padding:0;
}



.table-margin {
  margin-left: 10px;
  margin-right: 0px;
  padding-right: 5px;
  padding-left: 10px;
}

.vertical-middle {
  vertical-align: middle;
  padding-top: 100px;
  padding-left: 50px;
}

.center {
  text-align: center;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-left: 10px;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}



